node_modules/
frontend/node_modules/
.cache/
*.cache
frontend/.cache/
frontend/build/
frontend/dist/

# Python (ml_service)
FlaskProject/__pycache__/
FlaskProject/.venv/
FlaskProject/env/
FlaskProject/venv/
FlaskProject/.idea/
FlaskProject/.mypy_cache/
FlaskProject/.pytest_cache/

# Java (backend)
backend/target/
backend/.idea/
backend/.classpath
backend/.project
backend/.settings/

.DS_Store
Thumbs.db
*.log
.env
*.iml
